.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
   

  }
 .card-image img{
   
    width: 25rem;
   
  }

.card-contenu{
    width: 23rem;
    display: flex;
    flex-direction: column;
   
}
.buttons{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.error{
    color: aqua;
}
.title{
   font-size: 2.5rem;
   margin: 0;

}
.description{
    margin: 2rem 0;
}
